body{
    text-align: center;
    background-color: #011F3F;
    font-family: 'Press Start 2P', cursive;

}
nav{
    text-align: end;
    margin-right: 2%;
}

h1{
    margin: 3%;
    margin-top: 0px;
    color: wheat;
}

.right{
    background-color: greenyellow;
}

.wrong{
    background-color: red;
    opacity: 0.8;
}

.hidden{
    border-radius: 30px;
    height: 50px;
    background-color: wheat;
    border: 7px solid black;
    padding: 0px 5%;
    margin: 2% auto;
    font-family: 'Press Start 2P', cursive;
    color: #011F3F;
    margin-top: auto;
}

.btn{
    height: 200px;
    width: 200px;
    border-radius: 50px;
    border: 12px solid black;
    display: inline-block;
    margin: 1%;
    cursor: pointer;
}

.red{
    background-color: red;
}

.blue{
    background-color: blue;
}

.green{
    background-color: green;
}

.yellow{
    background-color: yellow;
}

.pressed{
    opacity: 0.5;
    box-shadow: 0 3px 4px 0 #DBEDF3;
}

footer > p{
    color: wheat;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a{
    color: wheat;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}


@media(max-width:500px){
    .hidden{
        width: fit-content;
        padding: 0px 10%;
    }
    .btn{
        margin: 10px auto;
    }
    h1{
        font-size: 20px;
    }
}